*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;
    font-family: 'josefin sans', sans-serif;
    box-sizing: border-box;
   }
body{
       width: 100%;
       min-height: 100vh;  
    }
    .navbar-menu{
        width: auto;
        min-height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(3, 3, 3);
    }
    .nav-links{
        width: 30rem;
    }
    .nav-links ul{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }
    .nav-links ul li{
        list-style: none;
        font-size: 1.2rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-links  ul li :hover{
        color: rgb(202, 191, 34);
    }
    a{
        color: white;
        text-decoration: none;
    }
    .logo{
        font-size: 2rem;
        font-weight: bold;
        background-image: linear-gradient(to right, rgb(139, 77, 0) 35%, rgb(6, 100, 114) 70%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color:transparent;
    }
.About{
    width: 100%;
    height: 100%;
    background-color: #202020;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 8rem 7rem;
}
.About img{
    width: 390px;
    height: 400px;
    cursor: pointer;
    padding-right: 4rem;
}
.About img:hover{
    transform: scaleY(.98);
    transform: scaleX(.98);
}
.about-text h2{
    color: white;
    font-size: 25px;
}
.about-text h2::before{
    content: '';
    padding: 1px 3px;
    background-color: #d12a00;
    margin-right: .5rem;
}
.about-text p{
    color: white;
    letter-spacing: 2px;
    font-size: x-large;
    font-weight: 300;
    margin-top: 2rem;
}
.card-container{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: rgb(4, 15, 15);
}
.card-container h2{
    padding-left: 4rem;
    padding-top: 2rem;
}
.card-container h2::before{
    content: '';
    padding: 1px 3px;
    background-color: #d12a00;
    margin-right: .5rem;
}
.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 30px;
    max-width: 100%;
    min-height: 100vh;
    padding: 6rem 4rem;
    position: absolute;
    position: absolute;
}
.C1{
    padding: 1rem .5rem;
    background-color: rgb(25, 37, 37);
    position: relative;
}
.C1:hover{
    transform: scaleY(.98);
    transform: scaleX(.98);
    cursor: pointer;
}
.copyright {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    color: white;
    position: absolute;
    width: 100%;
}